.container {
  .circle {
    width: 115px;
    height: 115px;
    background-image: url("../../../assets/images/circle-top.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .value {
      font-size: 20px;
      color: #01abf8;
      font-weight: bold;
    }

    .description {
      font-size: 12px;
      color: #d0e8ff;
    }
  }

  .label {
    font-size: 14px;
    color: #01abf8;
    text-align: center;
  }
}
