.datePickerRoot {
  border: none;
  height: 36px;
}

.datePickerNotchedOutline {
  border: none;
}

.textFieldRoot {
  height: 33px;
  margin: 12px 6px;
  border: 1.5px solid #fff;
  border-radius: 16px;
  width: 120px;
}
