.dropdownContainer {
  padding-right: 14px;
}

.selectIcon {
  color: #fff;
  &.menu-0 {
    color: #3291f8;
  }
  &.menu-1 {
    color: #ffb200;
  }
  &.menu-2 {
    color: #ec0404;
  }
  &.menu-3 {
    color: #f25710;
  }
  &.menu-4 {
    color: #5e6fff;
  }
  &.menu-5 {
    color: #00a2ff;
  }
  &.menu-6 {
    color: #b857f5;
  }
}

.inputRoot {
  height: 36px;
  margin: 12px 6px;
  border: 1.5px solid;
  border-radius: 16px;
  &.small {
    width: 120px;
    &.menu-0 {
      color: #3291f8;
    }
    &.menu-1 {
      color: #ffb200;
    }
    &.menu-2 {
      color: #ec0404;
    }
    &.menu-3 {
      color: #f25710;
    }
    &.menu-4 {
      color: #5e6fff;
    }
    &.menu-5 {
      color: #00a2ff;
    }
    &.menu-6 {
      color: #b857f5;
    }
  }
  &.medium {
    width: 200px;
    color: #fff;
  }
  &.large {
    width: 230px;
    color: #fff;
  }
}

.inputNotchedOutline {
  border: none;
}

.menuRoot {
  color: #0f0;
}

// .menuItem {
//   color: #000;
// }

.menuItem {
  &:hover {
    &.menu-0 {
      color: #3291f8;
    }
    &.menu-1 {
      color: #ffb200;
    }
    &.menu-2 {
      color: #ec0404;
    }
    &.menu-3 {
      color: #f25710;
    }
    &.menu-4 {
      color: #5e6fff;
    }
    &.menu-5 {
      color: #00a2ff;
    }
    &.menu-6 {
      color: #b857f5;
    }
  }
}

.menuSelected {
  &.menu-0 {
    color: #3291f8;
  }
  &.menu-1 {
    color: #ffb200;
  }
  &.menu-2 {
    color: #ec0404;
  }
  &.menu-3 {
    color: #f25710;
  }
  &.menu-4 {
    color: #5e6fff;
  }
  &.menu-5 {
    color: #00a2ff;
  }
  &.menu-6 {
    color: #b857f5;
  }
}

.graphContainer {
  padding: 30px;
}
