.container {
  margin-top: 1rem;
  display: flex;
  justify-content: center;

  .left {
    flex: 30%;
    height: 58px;
    background-image: url("../assets/images/navbar-left.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
  }

  .middle {
    flex: 40%;
    height: 80px;
    background-image: url("../assets/images/navbar-middle.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 31px;
    font-weight: bold;
    color: white;
  }

  .right {
    flex: 30%;
    height: 58px;
    background-image: url("../assets/images/navbar-right.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
  }

  .navLeft {
    padding-top: 0.5rem;
    padding-right: 2rem;
  }

  .navRight {
    padding-top: 0.5rem;
    padding-left: 2rem;
  }
}
