.dashboard {
  background-image: url("./assets/images/background.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;

  .container {
    padding-left: 50px;
    padding-right: 50px;

    .left {
      .leftTop {
        height: 215px;
        width: 490px;
        margin-bottom: 20px;
      }

      .leftMiddle {
        height: 215px;
        width: 490px;
        margin-bottom: 20px;
      }
    }

    .right {
      .rightTop {
        height: 450px;
        width: 490px;
        margin-bottom: 20px;
      }
    }

    .leftBottom {
      height: 470px;
      width: 900px;
      margin-right: 10px;
    }

    .rightBottom {
      height: 470px;
      width: 900px;
      margin-left: 10px;
    }
  }
}
